# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Build
dist/
build/
*.tsbuildinfo

# Logs
logs/
*.log

# OS
Thumbs.db

/generated/prisma
script.ts

# Editor AI Agent folders
.agents/
.claude/
.windsurf/
skills-lock.json
